@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Projeto Razor</h1>
    <p>Navegue pela aba Clientes e conheça e realize o processo.</p>
</div>

<h1>RAZOR</h1>
<div style="font-size: 20px;">
<p>Razor é uma engine de view da Microsoft usada no ASP.NET para criar páginas dinâmicas. Ela mistura HTML com C# de forma simples, permitindo executar código server-side diretamente no markup.</p>
</div>

<h1>CRUD</h1>
<div style="font-size: 20px;">
    <p>Create: Criar, registrar ou cadastrar informações e dados. </p>
    <p>Read: Ler ou recuperar dados existentes.</p>
    <p>Update: Atualizar informações previamente armazenadas.</p>
    <p>Delete: Excluir registros quando necessário.</p>
</div>
<div class="text-center">
<img src="https://devporai.com.br/wp-content/uploads/2021/01/O-que-e-CRUD.jpg" alt="CRUD" width="400" height="300">
</div>